 
<body>
    <title>Display API Data</title>
    <div id="apiData"></div>

    <script>
        fetch('https://localhost:7278/v3/Post')
            .then(response => response.json())
            .then(data => {
                const apiDataElement = document.getElementById('apiData');
                data.forEach(item => {
                    const itemDiv = document.createElement('div');
                    itemDiv.innerHTML = `
                        <p>ID: ${item.id}</p>
                        <p>Title: ${item.title}</p>
                        <p>Body: ${item.body}</p>
                                <div class="row pl-2 my-3">
                                                    <p class="text-secondary lh-sm">@Html.Raw($" item.body")</p>
                                </div>
                        <hr>
                    `;
                    apiDataElement.appendChild(itemDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    </script>
</body>